:root {
  /** colors **/
  --color-black: #000000;
  --color-white: #ffffff;
  --color-dark-gray: #555555;
  --color-gray: #777777;
  --color-light-gray: #999999;
  --color-pale-gray: #D9D9D9;
  --color-pink: #FC1287;
  --color-pink-dark: #E21079;
  --color-red: #FF2A2A;
  
  /** text-colors **/
  --color-text-dark: #292A32;
  --color-text-gray: #747474;
  --color-text-pink: #FF2F62;
  --color-text-warning: #FF5454;

  /** font-size **/
  /* Headlines */
  --font-xxlarge: clamp(4rem, 4.5vw, 6rem);
  --font-xlarge: clamp(2rem, 4vw, 4rem);
  --font-large: clamp(1.25rem, 1.5vw, 2rem);
  
  /* Paragraph */
  --font-medium: clamp(0.75rem, 1.3vw, 1.25rem); 
  --font-small: clamp(0.5rem, 0.8vw, 0.75rem); 

  /** border radius **/
  --border-radius-small: 5px;
  --border-radius-medium: 10px;
  --border-radius-large: 20px;
  --border-radius-xlarge: 50%;

  /** space-size **/
  --space-xsmall: 4px;
  --space-small: 8px;
  --space-medium: 16px;
  --space-large: 32px;
  --space-xlarge: 64px;
  --space-xxlarge: 128px;
}